<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">

        <form th:object="${userForm}" action="/api/users/create" method="post">
            <div class="form-group">
                <label>First name:</label><br>
                <input class="form-control" type="text" placeholder="first name" th:field="*{firstName}"/>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">username error</p>
            </div>

            <div class="form-group">
                <label>Last name:</label><br>
                <input class="form-control" type="text" placeholder="last name" th:field="*{lastName}"/>
                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">username error</p>
            </div>

            <div class="form-group">
                <label>Username:</label><br>
                <input class="form-control" type="text" placeholder="login" th:field="*{username}"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</p>
            </div>

            <div class="form-group">
                <label>Password:</label><br>
                <input type="password" placeholder="password"  class="form-control" id="exampleInputPassword1" th:field="*{password}"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</p>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>